body{
    margin: 0;
    background-color: yellow;
}

.green{
    background-color: green;
    transition: background-color 2s;
}

.pink{
    background-color: pink;
    transition: background-color 2s;
}

.blue{
    background-color: blue;
    transition: background-color 2s;
}

#menu{
    width: 100vw;
    height: 170vw;
    background-color: red;
    color: white;
    font-size: 10vw;
}

#feature_one{
    width: 100vw;
    height: 170vw;
    background-color: yellow;
    font-size: 10vw;
}
