body{
    margin: 0;
}

#flex-container{
    display: flex;
    width: 100vw;
    height: 70vw;
    background-color: pink;
}

.one, .two, .three, .four, .five, .six{
    flex: 1;
    background-color: red;
    height: 20vw;
}