body{
	margin: 0;
	background-color: #3F51B5;
	overflow-x: hidden;
}

#flex-container{
	display: flex;
	width: 40vw;
	height: 200vw;
	flex-direction: column;
	margin: 0 auto;
}

.one, .two, .three, .four, .five, .six{
	flex: 1;
    margin: 1vw 0vw;
    background-color: yellow;
    position: relative;
}

.biscuit{
	height: 15vw;
    width: 25vw;
    background-color: #8c3b00;
    margin: 6vw auto 0vw;
    transform: perspective(1000px) rotate(-30deg) skew(25deg) translate(0,0);
    box-shadow: -5vw 4vw 0vw -1vw rgb(103, 50, 1), -7vw 6vw 0vw -3px rgb(142, 68, 1);
    border-radius: 3vw;
    animation: biscuit_top 2s 2s infinite;
}

.biscuit::before{
	content: "";
    position: absolute;
    top: 4vw;
    left: -2.5vw;
    height: 81%;
    width: 3vw;
    background: #441e00;
    transform: rotate(0deg) skewY(-45deg);
    border-radius: 3vw;
    animation: biscuit_cream 2s linear 2s infinite alternate;
}

.biscuit::after{
	content: "";
    position: absolute;
    bottom: -7px;
    left: -7px;
    height: 8px;
    width: 90%;
    background: #441e00;
    transition: .5s;
    transform: rotate(0deg) skewX(-45deg);
    border-radius: 3vw;
    animation: biscuit_cream_two 2s linear 2s infinite alternate;
}

.teepee{
	height: 0vw;
    width: 0vw;
    margin: 3vw auto 0vw;
    border-bottom: 25vw solid #f2c265;
    border-right: 12vw solid transparent;
    border-left: 12vw solid transparent;
    border-bottom-left-radius: 10vw;
    border-bottom-right-radius: 10vw;
}

.teepee::before{
	content: "";
    position: absolute;
    border-right: 5vw solid transparent;
    border-left: 5vw solid transparent;
    border-bottom: 10vw solid #7e4200;
    top: 18vw;
    left: 15vw;
    border-bottom-left-radius: 2vw;
    border-bottom-right-radius: 2vw;
    animation: teepee_bounce 1s linear 1s infinite alternate;
}

.teepee::after{
	content: "";
    position: absolute;
    height: 13vw;
    width: 4vw;
    bottom: 9vw;
    left: 18vw;
    border-bottom-right-radius: 3vw;
    border-top-right-radius: 3vw;
    transform: rotate(-92deg);
    background-color: black;
    clip-path: polygon(100% 0, 0 50%, 100% 100%, 25% 100%, 0% 50%, 25% 0%);
    animation: teepee_shake 1s linear 1s infinite alternate;
}

.underground{
	height: 20vw;
    width: 20vw;
    border-radius: 14vw;
    background-color: white;
    margin: 6vw auto 0vw;
    box-shadow: 0vw 0vw 0vw 4vw red;
    animation: underground_circle 2s linear 2s infinite alternate;
}

.underground::before{
	content: "";
    position: absolute;
    width: 5vw;
    height: 0vw;
    margin: -9vw 8vw;
    border-bottom: 38vw solid blue;
    transform: rotate(90deg);

}

.underground::after{
	content: "";
    width: 8vw;
    height: 9vw;
    bottom: 13vw;
    left: 1.5vw;
    background-color: blue;
    position: absolute;
    transform: rotate(90deg);
    clip-path: ellipse(25% 40% at 50% 50%);
    animation: underground_bar 1s linear infinite alternate;
}

.underground_bottom_bump {
    width: 8vw;
    height: 9vw;
    top:10vw;
    left: 1.5vw;
    z-index: 1;
    background-color: blue;
    position: absolute;
    transform: rotate(90deg);
    clip-path: ellipse(25% 40% at 50% 50%);
    animation: underground_bar_two 2s linear infinite alternate;
}

.gherkin{
	height: 18vw;
    width: 21vw;
    border-bottom-left-radius: 19vw;
    border-top-right-radius: 17vw;
    border-top-left-radius: 1vw;
    border-bottom-right-radius: 3vw;
    transform: rotate(50deg);
    position: absolute;
    overflow: hidden;
    margin: 7vw auto 0vw;
    left: 9.5vw;
    z-index: 1;
    background-color: #4e77ba;
background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='100' height='100' viewBox='0 0 100 100'%3E%3Cg fill-rule='evenodd'%3E%3Cg fill='%23ffffff' fill-opacity='0.4'%3E%3Cpath opacity='.5' d='M96 95h4v1h-4v4h-1v-4h-9v4h-1v-4h-9v4h-1v-4h-9v4h-1v-4h-9v4h-1v-4h-9v4h-1v-4h-9v4h-1v-4h-9v4h-1v-4h-9v4h-1v-4H0v-1h15v-9H0v-1h15v-9H0v-1h15v-9H0v-1h15v-9H0v-1h15v-9H0v-1h15v-9H0v-1h15v-9H0v-1h15v-9H0v-1h15V0h1v15h9V0h1v15h9V0h1v15h9V0h1v15h9V0h1v15h9V0h1v15h9V0h1v15h9V0h1v15h9V0h1v15h4v1h-4v9h4v1h-4v9h4v1h-4v9h4v1h-4v9h4v1h-4v9h4v1h-4v9h4v1h-4v9h4v1h-4v9zm-1 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-9-10h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm9-10v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-9-10h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm9-10v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-9-10h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm9-10v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-9-10h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9z'/%3E%3Cpath d='M6 5V0H5v5H0v1h5v94h1V6h94V5H6z'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
}

.gherkin::before{
	content: '';
    width: 6vw;
    height: 17vw;
    /* border-radius: 8vw; */
    background-color: #364e74;
    position: absolute;
    top: -4vw;
    transform: rotate(40deg);
    animation: gherkin_top 0.82s cubic-bezier(.36,.07,.19,.97) both infinite alternate;
}

.gherkin_first_base{
	width: 13vw;
    height: 12vw;
    left: 13.2vw;
    bottom: 2vw;
    position: absolute;
    transform: rotate(-72deg);
    background-color: #4e77ba;
    clip-path: polygon(50% 0%, 100% 38%, 82% 100%, 18% 100%, 0% 38%);	
}


.clock{
	height: 13vw;
    width: 13vw;
    background-color: white;
    margin: -18vw auto 0vw;
    border-radius: 8vw;
    box-shadow: 0vw 0vw 0vw 2vw brown, 8vw 5vw 0vw -1vw #800000, -8vw 5vw 0vw -1vw #800000;
    animation: clock 2s linear infinite 2s alternate;
}

.clock_base{
	height: 14vw;
    width: 34vw;
    background-color: brown;
    margin: 10vw auto 0vw;
    border-top-left-radius: 10vw;
    border-top-right-radius: 10vw;
    z-index: none;
}

.clock_base::before {
	content: "";
    height: 4vw;
    width: 1vw;
    left: 21vw;
    top: 10.5vw;
    transform: rotate(90deg);
    background-color: black;
    position: absolute;
    animation: clock_small_hand 2s linear infinite 2s alternate;

}

.clock_base::after {
	content: "";
    height: 6vw;
    width: 1vw;
    left: 19vw;
    top: 7vw;
    background-color: black;
    position: absolute;
    animation: clock_large_hand 2s linear infinite 2s alternate;
}

.baked_beans{
	width: 18vw;
    height: 22vw;
    left: 10vw;
    top: 3vw;
    position: absolute;
    background-color: #019a7f;
    margin: 2vw auto;	
}

.baked_beans::before{
	content: "";
    width: 40.8vw;
    height: 4vw;
    left: -12.5vw;
    top: -3.4vw;
    position: absolute;
    border-radius: 8vw;
    background-color: #92afb8;
    clip-path: ellipse(22% 50% at 53% 49%);
    animation: baked_beans_lid 1s linear 1s infinite alternate;
}

.baked_beans::after{
	content: "";
	top: 19.6vw;
    width: 40.8vw;
    height: 4vw;
    left: -12.5vw;
    position: absolute;
    border-radius: 8vw;
    background-color: #019a7f;
    clip-path: ellipse(22% 50% at 53% 49%);
}

.baked_beans_label{
    height: 10vw;
    width: 14vw;
    margin: 12vw;
    top: 3vw;
    border-top-left-radius: 3vw;
    border-top-right-radius: 3vw;
    background-color: black;
    border-bottom-left-radius: 5vw;
    border-bottom-right-radius: 5vw;
    position: absolute;
    z-index: 1;
    clip-path: polygon(0 0, 100% 0, 82% 100%, 17% 100%);
}

/*could not do a before pseudo on below.*/

.baked_beans_label_two{
    width: 12vw;
    left: 13vw;
    border-top-left-radius: 2vw;
    border-top-right-radius: 2vw;
    top: 11vw;
    height: 8vw;
    position: absolute;
    background-color: black;
    z-index: 0;
    clip-path: polygon(0 0, 100% 0, 82% 100%, 17% 100%);
}

.baked_beans_label_border{
    width: 14vw;
    left: 12vw;
    border-top-left-radius: 2vw;
    border-top-right-radius: 2vw;
    top: 10.5vw;
    height: 8vw;
    position: absolute;
    background-color: yellow;
    z-index: 0;
    clip-path: polygon(0 0, 100% 0, 82% 91%, 17% 100%);
}

.baked_beans_label_two_border{
    height: 10.5vw;
    width: 15.75vw;
    left: -0.8vw;
    margin: 12vw;
    top: 3vw;
    border-top-left-radius: 3vw;
    border-top-right-radius: 3vw;
    background-color: yellow;
    border-bottom-left-radius: 5vw;
    border-bottom-right-radius: 5vw;
    position: absolute;
    z-index: 1;
    clip-path: polygon(0 0, 100% 0, 82% 100%, 17% 100%);
}

/*width, margin, background colour for arranging divs*/

@keyframes biscuit_top {
  	0%, 20%, 50%, 80%, 100% {transform: perspective(1000px) rotate(-30deg) skew(25deg) translate(0,0);} 
   40% {transform: rotate(160deg);} 
   60% {transform: rotate(359deg);} 

}

@keyframes biscuit_cream {
  	0%, 20%, 50%, 80%, 100% {transform: translateX(0);} 
   40% {transform: translateX(-10vw);} 
   60% {transform: translateX(-5vw);} 

}

@keyframes biscuit_cream_two {
  	0%, 20%, 50%, 80%, 100% {transform: translateX(0);} 
   40% {transform: translateX(10vw) translateY(10vw);} 
   60% {transform: translateZ(5vw) translateY(5vw);} 

}

@keyframes teepee_bounce{
	0%, 20%, 50%, 80%, 100% {}
	40% {transform: skew(10deg);}
	60% {transform: skew(20deg);}
}

@keyframes teepee_shake{
	0%, 20%, 50%, 80%, 100% {}
	40% {transform: rotate(25deg);}
	60% {transform: rotate(50deg);}
}

@keyframes underground_circle {
	0%, 20%, 50%, 80%, 100% {}
	40% {box-shadow: 0 0 0 1vw rgba(255, 0, 0, 0.51);}
	100% {box-shadow: 0 0 0 2vw rgba(255, 0, 0, 0.25);}
}


@keyframes underground_bar {
	0%, 20%, 50%, 80%, 100% {}
	10% { left: 25%; } 
	20% { bottom: 13vw; }
	30%	{ left: 50%; } 
	50% {bottom: 9vw;}
	60% { left: 60%; } 
	70% {bottom: 13vw;}
	80% {left: 75%; } 
	100% { bottom: 9vw; }
}

@keyframes underground_bar_two {
	0%, 20%, 50%, 80%, 100% {bottom: 9vw;}
	10% { left: 25%; } 
	20% { bottom: 11vw; }
	30%	{ left: 50%; } 
	50% {bottom: 9vw;}
	60% { left: 60%; } 
	70% {bottom: 11vw;}
	80% {left: 75%; } 
	100% { bottom: 9vw; }
}

@keyframes gherkin_top {
	0%, 20%, 50%, 80%, 100% {transform: rotate(40deg);}
  10%, 90% { transform: translate3d(-1vw, 0, 0) rotate(40deg);}
  
  20%, 80% { transform: translate3d(2vw, 0, 0) rotate(40deg);}

  30%, 50%, 70% {transform: translate3d(-4vw, 0, 0) rotate(40deg);}

  40%, 60% { transform: translate3d(4vw, 0, 0) rotate(40deg);}
}

@keyframes clock {
	0%, 20%, 50%, 80%, 100% {}
	40% {box-shadow: 0vw 0vw 0vw 3vw brown, 8vw 5vw 0vw -1vw #ff8700, -8vw 5vw 0vw -1vw #ff8700;}
	100% {box-shadow: 0vw 0vw 0vw 4vw brown, 8vw 5vw 0vw -1vw #ffe100, -8vw 5vw 0vw -1vw #ffe100;}
}

@keyframes clock_large_hand {
	0%, 20%, 50%, 80%, 100% {}
	40% {transform: rotate(10deg);}
	100% {transform: rotate(-10deg);}
}

@keyframes clock_small_hand {
	0%, 20%, 50%, 80%, 100% {}
	40% {transform: rotate(69deg);}
	100% {top: 11.3vw transform: rotate(106deg);}
}

@keyframes baked_beans_lid {
	0%, 20%, 40%, 60%, 80% 100% { top: -4.4vw; }
	40% { transform: rotate(5deg);}
	80% {transform: rotate(10deg);}
	90% {transform: rotate(15deg);}
	95% {top: -2.4vw;}
	100% {top: -1.4vw;}
}



@media only screen and (min-width: 767px){

	#flex-container{
		display: flex;
	    width: 90vw;
	/*    target height of mobile*/

	    height: 129vw;
	    flex-direction: row;
	    flex-wrap: wrap;
	    margin: 2vw auto;
	}

	.biscuit{
		margin: 10vw auto 0vw;
	}

	.teepee{
		margin: 8vw auto 0vw;
	}

	.teepee::before{
		top: 23vw;
	}

	.teepee::after{
		top: 15vw;
		height: 11vw;
	}

	.underground{
		margin: 11vw auto 0vw;
	}

	.underground::after{
		top: 15vw;
	}

	.underground_bottom_bump{
		top: 18vw;
	}

	.gherkin{
		margin: 11vw auto 0vw;
	}

	.gherkin_first_base{
		top: 21vw;
	}

	.clock_base{
		margin: 17vw auto 0vw;
	}

	.clock_base::before{
		top: 17.5vw;
	}

	.clock_base::after{
		top: 14vw;
	}

	.baked_beans{
		top: 7vw;
	}

	.baked_beans_label_border{
		top: 14.5vw;
	}

	.baked_beans_label, .baked_beans_label_two_border{
		top: 7vw;
	}

	.baked_beans_label_two{
		top: 15vw;
	}


	.one, .two, .three, .four, .five, .six{
		flex: none;
        height: 40vw;
        width: 40vw;
	    margin: 1vw auto;
	}
}


@media only screen and (min-width: 1200px) {

	#flex-container{
		display: flex;
    	background-color: #3F51B5;
    	flex-flow: row wrap;
    	height: 75vw;
    	width: 100vw;	
	}

	.biscuit{
		height: 11vw;
    	width: 20vw;
    	margin: 7vw auto 0vw;
	}

	.biscuit::after{
		height: 2vw;
	    width: 17vw;
	    top: 11vw;
	}

	.teepee{
		margin: 4vw auto 0vw;
	}

	.teepee::before{
		top: 19vw;
    	left: 10vw;
	}

	.teepee::after{
		top: 10vw;
	    height: 11vw;
	    left: 13vw;
	}

	.underground{
		margin: 9vw auto 0vw;
		height: 15vw;
    	width: 15vw;
	}

	.one, .two, .three, .four, .five, .six{
		margin: 2vw;
	    background-color: #FFEB3B;
	    flex-grow: 1;
	    width: 22vw;
	    height: 33vw;

	}
}

