body{
	margin: 0 auto;
}

#index_background{
	background-image: url("../images/starry_background.gif");
	background-size: cover;
	width: 100vw;
	height: 100vw; 
	margin: 0 auto;
}

#body_background_bron{
	background-image: url("../images/pink_starry_background.gif");
	background-size: cover; 
	width: 100vw;	
	height: 100vw;
	margin: 0 auto;
}

.home_container{
	margin: 0vw 1vw;
}

.logo{
	margin-left: auto;
    display: block;
    margin-right: auto;
    width: 50vw;
    height: 30vw;
}

#logo{
	width: 56vw;
    height: 17vw;
    margin-top: 11vw;
}

.star{
	width: 9vw;
    display: inline;
    height: 8vw;
    margin: 2vw 1vw;
}

#home_text{
	font-family: 'Luckiest Guy', cursive;
    font-size: 2vw;
    color: #f442b9;
    text-shadow: 2px 2px 4px navy;
    margin: 0vw 3vw;
}

.audio_control{
	margin: -14vw 1vw;
}

.sprite{
    margin: 0 auto;
    width: 20vw;
    height: 11vw;
}

#sprite{
	height: 25vw;
    position: relative;
    top: -15vw;
}

.three_buttons{
	padding-left: 18vw;
    padding-top: 4vw;
    height: 11vw;
}

#left_button, #middle_button, #right_button{
	display: inline-block;
    margin: 0 6vw;
    height: 10vw;
    width: 10vw;
}

/*make hover left_button*/

.text{
    padding-left: 20vw;
}

#left_text, #middle_text, #right_text{
    display: inline-block;
    margin: 0vw 7vw;
    font-family: 'Luckiest Guy', cursive;
    font-size: 2vw;
    color: #f442b9;
    text-shadow: 2px 2px 4px navy;
}

.paragraph_title{
	display: inline-block;
    margin: 0vw 7vw;
    font-family: 'Luckiest Guy', cursive;
    font-size: 2vw;
    color: #f442b9;
    text-shadow: 2px 2px 4px navy;
}

.logo_2{
	margin-left: auto;
    display: block;
    margin-right: auto;
    width: 50vw;
    height: 7vw;
}

#logo_2{
	width: 56vw;
    height: 17vw;
    margin-top: -12vw;
}

.video_container{
	padding-left: 33vw;
}

#vid{
	width: 37vw;
    height: 26vw;
}


/*
TRBL
TB RL*/
















