body{
    margin: 0;
    background: linear-gradient(to top, white, #9ae5ff);
    background-attachment: fixed;
}

/*middle circle*/
.circle{
    background: yellow;
    width: 15vw;
    height: 15vw;
    border-radius: 8vw;
    margin: 0 auto -30vw;
    transition: width 2s, transform 2s;
    animation: sun 2s ease-in-out infinite;
}

/*circle on the right*/
.circle::before{
    content: "";
    display: block;
    background: green;
    width: 15vw;
    height: 15vw;
    border-radius: 15vw;
    margin: -15vw 0 0 -45vw;
    animation: sunTwo 2s ease-in-out infinite;
}

.circle::after{
    content: "";
    display: block;
    background: red;
    width: 15vw;
    height: 15vw;
    border-radius: 15vw;
    margin: 0vw 3vw 0vw 50vw;
    animation: sunThree 2s ease-in-out infinite;
}

.circle2{
    background: yellow;
    width: 15vw;
    height: 15vw;
    border-radius: 8vw;
    margin: 0vw 0vw 0vw 50vw;
    transition: width 2s, transform 2s;
    animation: sun 2s ease-in-out infinite;
}

.land{
	background-color: #ffc30b;
	width: 100vw;
	height: 25vw;
	z-index: 100;
	position: absolute;
	top: 40vw;
}

/*body::after{
	content: ""
	position: absolute;
	background: linear-gradient(to top, yellow, orange);
	transition: transform 2s;

}*/

@keyframes sun {
	
	0%{margin-top: -15vw;}
	100%{margin-top: 40vw margin-left: 43vw;}
}

@keyframes sunTwo {
    
    0%{margin-top: -15vw; margin-left: -45vw;}
    100%{margin-top: 40vw; margin-left: 0vw;}
}

/*@keyframes sunThree {
    
    0%{margin-top: -15vw; margin-right: 45vw;}
    100%{margin-top: 40vw; margin-right: 0vw}
}*/








