body{
    margin: 0;
    background-attachment: fixed;
    transition: background 2s;
    animation: body 2s infinite alternate ease-out;
}

/*middle circle*/
.circle{
    background: yellow;
    width: 15vw;
    height: 15vw;
    border-radius: 8vw;
    margin: 0 auto -30vw;
    box-shadow: 
        43vw 0vw yellow,
        -43vw 0vw yellow;
    transition: width 2s, transform 2s;
    animation: sun 2s ease-in-out infinite alternate;
}

.land{
	background-color: #ffc30b;
	width: 100vw;
	height: 25vw;
	z-index: 100;
	position: absolute;
	top: 40vw;
    transition: background 2s;
    animation: land 2s ease-in-out infinite alternate;
}

@keyframes sun {
	
	0%{margin-top: -15vw;}
	100%{margin-top: 40vw; box-shadow: 0vw 0vw yellow; }
}

@keyframes body {
    
    0%{background-color: #9ae5ff; background-attachment: fixed;}
    80%{background-color: #4d0099; background-attachment: fixed;}
    100%{background-color: #0f00ba; background-attachment: fixed;}
}

@keyframes land {
    
    0%{}
    100%{background-color: #724800;}
}








