body{
    margin: 0;
}

.main, .business_page{
    width: 100vw;
    height:178vw;
    background-color: #ffffff;
}

.header, .header_two{
    margin: 0 auto;
    height: 10vw;
}

.header_two{
    margin: 0 auto;
    padding-top: 8vw;
}

.menu_bar, .menu_bar_two{
    display: inline-block;
    margin: 10vw 7vw;
}

.menu_bar_two{
    position: absolute;
    margin: 9vw 7vw;
}

.logo{
    display: inline-block;
    margin: 4vw 17vw;
}

.business_page_logo_one{
    width: 16vw;
    margin: 5vw 0vw 0vw 79vw;
    display: inline-block;
}
    
.search{
    display: inline-block;
    margin: 11vw 4vw;
}

.subtitle, .subtitle_two{
    font-family: 'Montserrat', sans-serif;
    font-size: 5vw;  
    position: absolute;
    margin-top: 15vw;
    color: #606060;
}

.subtitle_two{
    margin: 131vw 0vw;
}

h1{
    margin: 1vw 1vw;
    font-family: 'Montserrat', sans-serif;
    font-size: 5vw;
    position: absolute;
    color: #e91e63;
}

h2{
    font-family: 'Open Sans', sans-serif;
    font-size: 3vw;
    position: absolute;
    margin: 24vw 1vw;
}   

.content{
    display: inline-block;
    margin: 0vw 12vw;
}

.business_selection_one, .business_selection_two, .business_selection_three, .business_selection_four{
    position: absolute;
    background-color: #ffffff;
    height: 30vw;
    width: 78vw;
    margin: 23vw 0vw 0vw 0vw;
    border: 0.5vw solid #e91e63;
    border-radius: 1vw;
}

.business_image, .hendrix_image, .great_queen_street_image, .KOKO_dance_image{
    position: absolute;
    margin: 0vw 0vw 0vw 48.5vw;
    border-radius: 1vw;
    width: 29.5vw;
}

.business_image{
    margin: 0vw 0vw 0vw 47vw;
}

.KOKO_dance_image{
    height: 30vw;
}

.hendrix_image{
    height: 30vw;
}

.great_queen_street_image{
    height: 30vw;
}
.business_selection_two{
    margin: 59vw 0vw 0vw 0vw;
}

.business_selection_three{
    margin: 95vw 0vw 0vw 0vw;
}

.business_selection_four{
    margin: 143vw 0vw;
}

.five_star_rating, .four_star_rating, .three_star_rating{
    position: absolute;
    width: 20vw;
    margin: 19vw 1vw;
}

.four_star_rating{
    width: 15vw;
}

.three_star_rating{
    width: 11vw;
}

#map {
    position: absolute;
    height: 60vw;
    width: 48vw;
    margin: 30vw 0vw 0vw 49vw;
}

.video{
    width: 980px;
    height: 900px;
    margin: -160vw 0vw 0vw 0vw;
    position: absolute;
}

.address_info{
    margin: 30vw 2vw;
}









