body{
    margin: 0;
}

.main, .business_page{
    width: 100vw;
    height:178vw;
    background-color: #ffffff;
}

.header{
    margin: 0 auto;
}

.menu_bar{
    display: inline-block;
    margin: 12vw 7vw;
}

.logo{
    display: inline-block;
    margin: 4vw 17vw;
}

.small_logo{
    display: inline-block;
    margin: 9vw 22vw;
    height: 10vw;
}

.search{
    display: inline-block;
    margin: 11vw 4vw;
}

h1{
    font-family: 'Montserrat', sans-serif;
    font-size: 4vw;
}   

.content{
    display: inline-block;
    margin: 0vw 12vw;
}

.business_selection_one{
    position: absolute;
}


















